<div class="col-md-12">
  <p style="margin-left:30px;"><b>Getting Started</b></p>
</div>
<div class="col-md-4">
  <div class="card">
    <div class="card-body">
      <div class="text-center">
        <span style="font-size:40px;">
          <i class="fab fa-facebook"></i>
        </span>
        <p>Find Friends from Facebook</p>
      </div>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="card">
    <div class="card-body">
      <div class="text-center">
        <span style="font-size:40px;">
          <i class="fas fa-phone"></i>
        </span>
        <p>Register Your Phone</p>
      </div>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="card">
    <div class="card-body">
      <div class="text-center">
        <span style="font-size:40px;">
          <i class="fas fa-camera"></i>
        </span>
        <p>Add Profile Photo</p>
      </div>
    </div>
  </div>
</div>
