<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-12 d-none d-md-block d-sm-block d-lg-block">
      <%= image_tag("landing-phones.png", style: "height:618px;") %>
    </div>
    <div class="col-lg-4 col-md-12">
      <%= render 'users/shared/login' %>
    </div>
  </div>
</div>
